
        
            
            .figure {
                width: 20vw;
                height: 100vh;
                clear: both;
                display: flex;
                float: left;
            }
            .image {
                width: 25vw;
                height: 25vh;
            }
            p,h2 {
                display: flex;
                width: 74vw;
                float: right;
            }
            #citation{
              text-decoration: none;
            }

        